<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
</head>
<body>
    <nav>
        <h1>Pag de inicio</h1>
        <li><a href="matematica/">Matematica</a></li>
        <li><a href="quimica/">Quimica</a></li>
    </nav>
    <div>
        <li> <a href="iniciar_secion/">Iniciar secion</a></li>
        <li><a href="registrarse/">registrarse</a></li>
    </div>
</body>
</html>
