{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}

<body>
    <form action="/resultados/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value={{id}}>
        {% for e in preguntas %}
            <p>{{e.pregunta}}</p>
            <ul>
                <li><input type="radio" id="cbox1" name={{e.id}} value="A"><label for="cbox1">A) {{e.a}}</label></li>
                <li><input type="radio" id="cbox2" name={{e.id}} value="B"><label for="cbox2">B) {{e.b}}</label></li>
                <li><input type="radio" id="cbox3" name={{e.id}} value="C"><label for="cbox3">C) {{e.c}}</label></li>
                <li><input type="radio" id="cbox4" name={{e.id}} value="D"><label for="cbox4">D) {{e.d}}</label></li>
                <li><input type="radio" id="cbox4" name={{e.id}} value="E"><label for="cbox4">E) {{e.e}}</label></li>
            </ul>
        {% endfor %}
        <input type="submit" value="Enviar">
    </form>

</body>



{% endblock %}