{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div>
    <p>
        {% for post in post %}
            <h1>
                {{post.texto}}
            </h1>
        <div>
            <div>
            <a href="">
                {{post.usuario}}
            </a>
            </div>
            <div>
                <a href="{% url 'foro2' post.pk %}">
                    <button>
                        comentar
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </p>
</div>

{% endblock %}